<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create Puppy</title>
</head>
<body>
  <form method="post" action="/">
    <p>Name:</p>
    <textarea name="name"></textarea>
    <p>Breed:</p>
    <textarea name="breed"></textarea>
    <p>Age:</p>
    <textarea name="age"></textarea>


    <button type="submit" value="submit">Submit</button>
  </form>


</body>
</html>
