<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site</h1>
    <a href= "create_puppy.erb">Click Here To List A Puppy</a>

</form>


  </body>
</html>
